.ourteam {

  .ourteam-header {
    margin: 120px auto 0;
    max-width: 720px;

    h2 {
      font-size: 32px;
      font-weight: 700;
    }

    p {
      margin-top: 30px;
      font-size: 20px;
      line-height: 24px;
      color: $gray;
    }
  }

  .ourteam-body {
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .ourteam-element {
      margin: 0 10px 70px;
      flex-basis: 180px;

      header {
        margin-top: 45px;

        h2 {
          font-size: 20px;
          font-weight: 700;
        }

        p {
          margin-top: 15px;
          font-size: 16px;
          color: $gray;
        }
      }

      p {
        margin-top: 25px;
        font-size: 14px;
        line-height: 18px;
      }

      .social {
        margin-top: 17px;

        img {
          margin: 0 2px;
        }
      }

    }
  }

}