@mixin min-max($min-width, $max-width, $padding) {
  min-width: $min-width;
  max-width: $max-width;
  padding: 0 $padding;
  box-sizing: border-box;
  margin: 0 auto;
}

@mixin btn($fs: 9px, $lh: 10px, $w: 114px) {
  width: $w;
  font-size: $fs;
  line-height: $lh;
  border: 2px solid $dark;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: $dark;
  @content;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}