@mixin min-max($min-width, $max-width, $padding) {
  min-width: $min-width;
  max-width: $max-width;
  padding: 0 $padding;
  box-sizing: border-box;
  margin: 0 auto;
}

@mixin btn($background-color: tranparent, $fs: 9px, $lh: 10px, $w: 114px, $color: $dark) {
  margin: 0 auto;
  width: $w;
  font-size: $fs;
  line-height: $lh;
  border: 2px solid $dark;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  color: $color;
  background-color: $background-color;
  @content;

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: invert($color);
  }
}